/*------------------------------------ GENERAL STRUCTURE STYLE ------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-container {
    font-family: 'Press Start 2P', monospace;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: none;
}

section.active {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}


/*------------------------------------ FONT ------------------------------------*/

h1 {
    font-size: 3vw;
}


h2 {
    font-size: 2vw;
}


p {
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: inherit;
}

/*------------------------------------ TYPEWRITTER EFFECT ------------------------------------*/

.typewriter::after {
    content: "|";
    animation: blink 0.7s steps(1) infinite;
    display: inline-block;
    margin-left: 5px;
}

@keyframes blink {
    50% { opacity: 0; }
}

/*------------------------------------ BUTTONS------------------------------------*/

.quiz-button {
    font-family: 'Press Start 2P', monospace;
    padding: 12px 24px;
    margin: 10px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, transform 0.1s;
  }
  
.quiz-button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
}


/*------------------------------------ IMAGE ------------------------------------*/

img {
    width: auto;
    height: 600px;
}

#levels img {
    filter: grayscale(100%);
}


/*------------------------------------ FOOTER ------------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
}

footer p {
    font-size: 0.5vw;
}

/*------------------------------------ RESPONSIVE ------------------------------------*/

@media (max-width: 780px) {

    img {
        width: 100%;
        height: auto;
  }
}
